
$progbar2: white;
$progbar3: #27AE60;
$progbar4: rgba(0, 0, 0, 0.4);
$progbar5: $progbar2; //#ccc;
$progbar6: #2C3E50;
$progbar7: #667;
$progbar1: $progbar6; //blue;

.sign-in {
    
    &__form {
        width: 60%;
        max-width: 600px;
        min-width: 300px;
        margin: 200px auto;
	    text-align: center;
	    position: relative;
    }
    &__form .fieldset-view {
	    background: $progbar2;
	    border-radius: 3px;
	    box-shadow: 0 0 15px 1px $progbar4;
	    padding: 20px 30px;
	    box-sizing: border-box;
	    width: 80%;
	    margin: 0 10%;
	    position: relative;
    }
    &__form .login-input, &__form .login-textarea {
	    padding: 15px;
	    border: 1px solid $progbar5;
	    border-radius: 3px;
	    margin-bottom: 10px;
	    width: 100%;
	    box-sizing: border-box;
	    font-family: montserrat;
	    color: $progbar6;
	    font-size: 13px;
        resize: none;
    }

    /*buttons*/
    &__form .action-button {
        width: 100px;
        background: $progbar3;
        font-weight: bold;
        color: $progbar5;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }
    &__form .action-button:hover, &__form .action-button:focus {
        box-shadow: 0 0 0 2px $progbar5, 0 0 0 3px $progbar3;
    }

    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: $progbar6;
        margin-bottom: 10px;
    }
    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: $progbar7;
        margin-bottom: 20px;
    }

    .redirect-block {
        margin-top: 10px;
        text-align: left;

        .redirect-btn {
            cursor: pointer;
        }

        .redirect-btn:active { 
            background-color: unset;
            border: unset;
        }
    }

    .progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;

        &-item {
            list-style-type: none;
            color: $progbar1;
            text-transform: uppercase;
            font-size: 9px;
            width: 50%; //33.33%;
            float: left;
            position: relative;
        }
        &-item:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: $progbar2;
            background: $progbar1;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }
        &-item:after {
            content: '';
            width: 100%;
            height: 2px;
            background: $progbar1;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1;
        }
        &-item:first-child:after {
            content: none; 
        }
        &-item__active:before,  &-item__active:after{
            background: $progbar3;
            color: $progbar2;
        }

    }


}