
<div class="sign-in" >

  <form class="sign-in__form" id="msform" >

    <!-- progressbar -->
    <ul class="progressbar" >
      <li class="progressbar-item progressbar-item__active" > Account Setup</li>
      <li class="progressbar-item " > Social Profiles</li>
      <li class="progressbar-item " > Personal Details</li>
    </ul>

    <input class="sign-in-input" type="text" placeholder="login" />

    <input class="sign-in-input" type="password" placeholder="password"  />

    <input class="sign-in-input__button" type="button" value="Sign in" 
    (click)="signIn()" />

  </form>

  
</div>
