<div class="sign-in">

  <form class="sign-in__form" id="msform">

    <!-- progressbar -->
    <ul class="progressbar">
      <li class="progressbar-item progressbar-item__active"> Account Setup</li>
      <!--    <li class="progressbar-item "> Social Profiles</li> -->
      <li class="progressbar-item " 
      [class.progressbar-item__active]=" loginStep == loginSteps.Two "> 
        Personal Details
      </li>
    </ul>

    <fieldset class="fieldset-view"
      [ngSwitch]="loginStep">

      <h2 class="fs-title">Sign in</h2>

      <form [formGroup]="formDataOne"
      *ngSwitchCase="loginSteps.One">
        <h3 class="fs-subtitle">Create your account</h3>
        <div class="relative" >
          <input class="login-input" type="text" name="email" placeholder="Email" 
            formControlName="email" />
<!--          <label class="label-required"
            *ngIf="!formDataOne.get('email').value" >*</label>   -->
          <error-msg 
            *ngIf=" formDataOne.controls.email.invalid && isShowenErrors "
            [msg]="'email is not valid'" ></error-msg>       
        </div>

        <div class="relative" >
          <input class="login-input" type="password" name="pass" placeholder="Password" 
            formControlName="password" />
<!--         <label class="label-required"
            *ngIf="!formDataOne.get('password').value" >*</label>   -->
          <error-msg 
            *ngIf=" formDataOne.controls.password.invalid && isShowenErrors "
            [msg]="'password should contain 4 or more letters'" ></error-msg>
        </div>
        <div class="relative" >
          <input class="login-input" type="password" name="cpass" placeholder="Confirm Password" 
            formControlName="passwordConfirm" />
<!--          <label class="label-required"
            *ngIf="!formDataOne.get('passwordConfirm').value" >*</label>   -->
          <error-msg 
            *ngIf="( formDataOne.controls.passwordConfirm.invalid || !matchPassword(formDataOne) ) && isShowenErrors"
            [msg]="'password and confirm password should be the same'" ></error-msg>
        </div>
        <input type="button" name="next" class="login-input next action-button" value="Next" 
          [class.btn-error]=" ( !formDataOne.valid || !matchPassword(formDataOne) ) && isShowenErrors "
          (click)="changeStep(loginSteps.Two, true, formDataOne)" />
      </form>

      <form [formGroup]="formDataTwo"
      *ngSwitchCase="loginSteps.Two">
        <h3 class="fs-subtitle">Personal Details</h3>
        <div class="relative" >
          <input class="login-input" type="text" name="fname" placeholder="First Name" 
            formControlName="firstName" />
<!--          <label class="label-required"
            *ngIf="!formDataTwo.get('firstName').value" >*</label>  -->
          <error-msg 
            *ngIf=" formDataTwo.controls.firstName.invalid && isShowenErrors "
            [msg]="'email is not required'" ></error-msg>
        </div>
        <div class="relative">
          <input class="login-input" type="text" name="lname" placeholder="Last Name" 
            formControlName="lastName" />
<!--          <label class="label-required"
            *ngIf="!formDataTwo.get('lastName').value" >*</label>   -->
          <error-msg 
            *ngIf=" formDataTwo.controls.lastName.invalid && isShowenErrors "
            [msg]="'email is not required'" ></error-msg>
        </div>
        <div class="relative">
          <input class="login-input" type="text" name="phone" placeholder="Phone" 
            formControlName="phone" />
        </div>
        <div class="relative">
          <textarea class="login-textarea" name="address" placeholder="Address"
            formControlName="address" ></textarea>
        </div>
        <input type="button" name="previous" class="login-input previous action-button" value="Previous" 
          (click)="changeStep(loginSteps.One)"
        />
        <input type="button" name="button" class="submit action-button" value="Sign in" 
          [class.btn-error]=" !formDataTwo.valid && isShowenErrors "
          (click)="signIn()" />
      </form>

        <div class="redirect-block" >
          <input type="button" class="redirect-btn" value="Sign Up!"
            (click)="navToSignUp()" />         
        </div>
        <div class="redirect-block" >
          <input type="button" class="redirect-btn" value="Forgot password?"
            (click)="navToForgotPass()" />        
        </div>

    </fieldset>

  </form>



</div>