<div class="sign-in">

  <form class="sign-in__form" id="msform">

    <!-- progressbar -->
    <ul class="progressbar">
      <li class="progressbar-item progressbar-item__active"> Account Setup</li>
  <!--    <li class="progressbar-item "> Social Profiles</li> -->
      <li class="progressbar-item "
      [class.progressbar-item__active]=" loginStep == loginSteps.Two "
      > Personal Details</li>
    </ul>

    <div [ngSwitch]="loginStep" >

      <fieldset *ngSwitchCase="loginSteps.One" >
        <h2 class="fs-title">Create your account</h2>
        <h3 class="fs-subtitle">This is step 1</h3>
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="pass" placeholder="Password" />
        <input type="password" name="cpass" placeholder="Confirm Password" />
        <input type="button" name="next" class="next action-button" value="Next" 
        (click)="changeStep(loginSteps.Two)" />
      </fieldset>
<!--
      <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        <input type="text" name="twitter" placeholder="Twitter" />
        <input type="text" name="facebook" placeholder="Facebook" />
        <input type="text" name="gplus" placeholder="Google Plus" />
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
-->
      <fieldset *ngSwitchCase="loginSteps.Two" >
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button" value="Previous" 
        (click)="changeStep(loginSteps.One)" />
        <input type="button" name="button" class="submit action-button" value="Sign in" 
        (click)="signIn()" />
      </fieldset>

    </div>

  </form>



</div>