

<div class="main-container">

    <img class="ico_logo" 
        src="assets/ico_logo.svg" />

    <div class="btn-container">
        <button class="btn btn-one-centered btn-with-ico">
            <img class="btn-ico" src="assets/ico_facebook.png" />
            Sign Up With Facebook
        </button>
    </div>

    <div class="btn-container">
        <button class="btn btn-one-centered">
            Sign Up With Email
        </button>
    </div>

    <p class="text-center" >
        By signing up you agree to
        <a class="link" > Terms of Use </a>
        and
        <a class="link" > Privacy Policy </a> 
    </p> 

    <p class="text-center text-center__big" >
        Already have an account? 
        <a class="link" > Sign In </a>
    </p>      

</div>