<div class="auth-background" >

    <div class="main-container">

        <img class="ico_logo" 
            src="assets/images/ico_logo.svg" />

        <!-- base template -->
        <div *ngIf="tempCase === templateCase.Base" >

            <div class="btn-container">
                <button class="btn btn-one-centered btn-with-ico"
                    (click)="authService.signUpWithFb()">
                    <img class="btn-ico" src="assets/images/ico_facebook.png" />
                    Sign Up With Facebook
                </button>
            </div>

            <div class="btn-container">
                <button class="btn btn-one-centered"
                [routerLink]="['/auth/sign-up']"  >
                    Sign Up With Email
                </button>
            </div>

            <auth-info></auth-info>

            <p class="text-center text-center__big" >
                Already have an account? 
                <a class="link" 
                [routerLink]="['/auth/sign-in']" > Sign In </a>
            </p>   

        </div> <!-- end of base template -->

        <!-- sign-in template -->
        <div *ngIf="tempCase === templateCase.SignIn" >

            <div class="btn-container">
                <button class="btn btn-one-centered btn-with-ico__clean"
                (click)="authService.signInWithFb()" >
                    <img class="btn-ico" src="assets/images/ico_facebook_white_button_blue.svg" />
                    Sign In With Facebook
                </button>
            </div>

            <p class="text-center text-center__big" >
                Or
            </p>  

            <form autocomplete="off" novalidate
                [formGroup]="formData" > 

                <div class="btn-container input-contaner " >
                    <input class="input" type="text" placeholder="Email"  required 
                    formControlName="email" />
                </div>
                <error-msg 
                    *ngIf=" formData.controls.email.invalid && isShowenErrors "
                    [msg]="'email is not valid'" ></error-msg>    

                <div class="btn-container input-contaner " >
                    <input class="input" placeholder="Password"  required
                    [type]=" isShowenPass ? 'text' : 'password' " 
                    formControlName="password" />
                    <img class="input-img" 
                    [src]=" isShowenPass ? 'assets/images/ico_eye_close_sm.svg' : 'assets/images/ico_eye_open_sm.svg' "  
                    (click)=" toggleShowenPass() " />               
                </div>
                <error-msg 
                    *ngIf=" formData.controls.password.invalid && isShowenErrors "
                    [msg]="'Password must be 4 or more letters'" ></error-msg>    
                
            </form>      

            <p class="text-right link link-light" 
                [routerLink]="['/auth/sign-in-forgot']" >
                FORGOT?
            </p>  

            <div class="btn-container">
                <button class="btn btn-one-centered"
                [class.error-background]=" !formData.valid && isShowenErrors "
                (click)=" signIn() " >
                    Sign In
                </button>
            </div>

            <auth-info></auth-info>

            <p class="text-center text-center__big" >
                <img class="input-img__small" 
                    src="assets/images/btn_arrow_back_sm.svg" />
                Return to 
                <a class="link" 
                [routerLink]="['/auth/sign-up']" > Sign Up </a>
            </p>           

        </div> <!-- end of sign-in template -->

        <!-- sign-up template -->
        <div *ngIf="tempCase === templateCase.SignUp" >

            <div class="btn-container">
                <button class="btn btn-one-centered btn-with-ico__clean"
                (click)="authService.signUpWithFb()" >
                    <img class="btn-ico" src="assets/images/ico_facebook_white_button_blue.svg" />
                    Sign Up With Facebook
                </button>
            </div>

            <p class="text-center text-center__big" >
                Or
            </p>  

            <form autocomplete="off" novalidate
                [formGroup]="formData" >

                <div class="btn-container input-contaner " >
                    <input class="input" type="text" placeholder="Full Name" required 
                    formControlName="fullName" />
                </div>
                <error-msg 
                    *ngIf=" formData.controls.fullName.invalid && isShowenErrors "
                    [msg]="'Full Name must be 4 or more letters'" ></error-msg>    

                <div class="btn-container input-contaner " >
                    <input class="input" type="text" placeholder="Email"  required 
                    formControlName="email" />
                </div>
                <error-msg 
                    *ngIf=" formData.controls.email.invalid && isShowenErrors "
                    [msg]="'email is not valid'" ></error-msg>    

                <div class="btn-container input-contaner " >
                    <input class="input" placeholder="Password"  required
                    [type]=" isShowenPass ? 'text' : 'password' " 
                    formControlName="password" />
                    <img class="input-img" 
                    [src]=" isShowenPass ? 'assets/images/ico_eye_close_sm.svg' : 'assets/images/ico_eye_open_sm.svg' "  
                    (click)=" toggleShowenPass() " />               
                </div>
                <error-msg 
                    *ngIf=" formData.controls.password.invalid && isShowenErrors "
                    [msg]="'Password must be 4 or more letters'" ></error-msg>    
                
            </form>      

            <div class="btn-container">
                <button class="btn btn-one-centered"
                [class.error-background]=" !formData.valid && isShowenErrors "
                (click)=" signUp() " >
                    Sign Up
                </button>
            </div>

            <auth-info></auth-info>

            <p class="text-center text-center__big" >
                Already have an account? 
                <a class="link" 
                [routerLink]="['/auth/sign-in']" > Sign In </a>
            </p>              

        </div> <!-- end of sign-up template -->

        <!-- sign-in-forgot template -->
        <div *ngIf="tempCase === templateCase.SignInForgot" >

            <p class="text-left text-bold" >
                Forgot your password?
            </p> 

            <p class="text-left" >
                Please enter your email address and
                we’ll get you back on track
            </p>


            <form autocomplete="off" novalidate
                [formGroup]="formData" > 

                <div class="btn-container input-contaner " >
                    <input class="input" type="text" placeholder="Email"  required 
                    formControlName="email" />
                </div>
                <error-msg 
                    *ngIf=" formData.controls.email.invalid && isShowenErrors "
                    [msg]="'email is not valid'" ></error-msg>    

            </form>      

            <div class="btn-container">
                <button class="btn btn-one-centered"
                [class.error-background]=" !formData.valid && isShowenErrors "
                (click)=" resetPassword() " >
                    Reset Password
                </button>
            </div>

            <p class="text-center text-center__big" >
                <img class="input-img__small" 
                    src="assets/images/btn_arrow_back_sm.svg" />
                Return to 
                <a class="link" 
                [routerLink]="['/auth/sign-in']" > Login </a>
            </p>   

        </div> <!-- end of sign-in-forgot template -->


    </div>

</div>