
<app-header>
</app-header>


<div class="main-container-in main-container-in-small pad__auth-form"
    *ngIf=" id == 'login' " >

    <p class="balance" > balance : 1000 </p>

    <p>
        <span> 100 </span>
        <input name="amount" type="radio" value="100" [(ngModel)]="amount"
        (click)="login(+amount)" >
    </p>
    <p>
        <span> 200 </span>
        <input name="amount" type="radio" value="200" [(ngModel)]="amount" 
        (click)="login(+amount)" >
    </p>
    <p>
        <span> 300 </span>
        <input name="amount" type="radio" value="300" [(ngModel)]="amount" 
        (click)="login(+amount)" >
    </p>
    <p>
        <span> 400 </span>
        <input name="amount" type="radio" value="400" [(ngModel)]="amount" 
        (click)="login(+amount)" >
    </p>

</div>


<div class="main-container-in main-container-in-small pad__auth-form"
    *ngIf=" id == 'payout' " >

    <p class="balance" > balance </p>

    <p>
        <span> 100 </span>
        <input name="amount" type="radio" value="100" [(ngModel)]="amount" >
    </p>
    <p>
        <span> 200 </span>
        <input name="amount" type="radio" value="200" [(ngModel)]="amount" >
    </p>
    <p>
        <span> 300 </span>
        <input name="amount" type="radio" value="300" [(ngModel)]="amount" >
    </p>
    <p>
        <span> 400 </span>
        <input name="amount" type="radio" value="400" [(ngModel)]="amount" >
    </p>

    <button (click)="payout(+amount)"
    > payout </button>

</div>