
$main-light: white;
$main-dark: #003354;
$main-border-color: #88a6b0;
$main-border-active-color: #7caee2;
$main-border-active-border: #dde5f3;
$main-with:  70%;
$cornflower-blue: #1976d2;
$placeholder: #88a5b0;
$error: #dfadbd; 

/* ********************** */


.auth-background {
    background-image: url("/assets/images/img_background.jpg");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main-container {
	    width: $main-with;
        max-width: 1000px;
        min-width: 400px;
        height: 100vh;
		margin: 0px auto;
}

.ico_logo {
    width: 100%;
    max-height: 15vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.text-center {
    margin-top: 2.5vh;
    color: $main-dark;
    text-align: center;
}

.text-center__big {
    margin-top: 5vh;
    font-size: 1.5em;
}

.link {
    font-weight: bold;
    color: $main-dark;
    cursor: pointer;
}

.opacity-none {
    opacity: 0;
}

.input-contaner {
    border-bottom: 1px solid $main-dark;
}

.input {
    color: $main-dark;
    font-size: 1.5em;
    width: 80%;
    background-color: unset;
    border: unset;
    margin: 10px 0;
}

.input-img {
    width: 1.5em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $placeholder;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $placeholder;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $placeholder;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $placeholder;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    $placeholder;
}


.btn-container {

    position: relative;
	display: -webkit-flex;
    display: flex;
  	-webkit-justify-content: center; /* Safari */
  	justify-content:         center;

}

    .btn {
        background: unset;
        padding: 1.1em 2.4em;
        font-size: 1.4em;
        margin: 1em;
        color: $main-dark;
        cursor: pointer;
        text-decoration: none;
        flex-grow: 1;
        text-align: center;
        border-radius: 60px;
        border: 1px solid $main-border-color;
    }

    .btn:hover, .btn:focus {
        border: 1px solid $main-border-active-color;
    }

    .btn:active{
        background: $main-border-active-border;
    }
    
    .btn-one-centered {
        width: 50%;
        margin: 10px auto
    }

    .btn-with-ico {
        color: $main-light;
        background-color: $cornflower-blue; 
        border: 1px solid $cornflower-blue; 
        display: flex;
        justify-content: center;       
    }

    .btn-ico {
        height: 1.1em;
        margin-right: 0.5em;
    }

.error-background {
    background-color: $error;
    color: $main-light;
}

.error-color {
    color: $error;    
}

/* ********************** */