


/* ********************** */

.main-container {
	    width: 60%;
        max-width: 600px;
        min-width: 300px;
		margin: 0px auto;
}

.btn-container {
    
	display: -webkit-flex;
    display: flex;
  	-webkit-justify-content: center; /* Safari */
  	justify-content:         center;

    .btn {

    }
    
    .btn.btn-one-centered {
        width: 50%;
        margin: 10px auto
    }

}



/* ********************** */