<div class="auth-background" >

    <div class="main-container">

        <img class="ico_logo" 
            src="assets/images/ico_logo.svg" />

        <div class="btn-container">
            <button class="btn btn-one-centered btn-with-ico"
            (click)="signInWithFB()" >
                <img class="btn-ico" src="assets/images/ico_facebook.png" />
                Sign In With Facebook
            </button>
        </div>

         <p class="text-center text-center__big" >
            Or
        </p>  

        <form [formGroup]="formData" > 

            <div class="btn-container input-contaner " >
                <input class="input" type="text" placeholder="Email"  required 
                formControlName="email" />
                <img class="input-img opacity-none" />
            </div>
          <error-msg 
            *ngIf=" formData.controls.email.invalid && isShowenErrors "
            [msg]="'email is not valid'" ></error-msg>    

            <div class="btn-container input-contaner " >
                <input class="input" placeholder="Password"  required
                [type]=" isShowenPass ? 'text' : 'password' " 
                formControlName="password" />
                <img class="input-img" 
                [src]=" isShowenPass ? 'assets/images/ico_eye_close_sm.svg' : 'assets/images/ico_eye_open_sm.svg' "  
                (click)=" toggleShowenPass() " />               
            </div>
          <error-msg 
            *ngIf=" formData.controls.password.invalid && isShowenErrors "
            [msg]="'Password must be 4 or more letters'" ></error-msg>    
            
        </form>      

        <div class="btn-container">
            <button class="btn btn-one-centered"
            [class.error-background]=" formData.controls.password.invalid && isShowenErrors "
            (click)=" signUp() " >
                Sign In
            </button>
        </div>

        <p class="text-center" >
            By signing up you agree to
            <a class="link" 
            [routerLink]="['/info/terms']" > Terms of Use </a>
            and
            <a class="link" 
            [routerLink]="['/info/policy']" > Privacy Policy </a> 
        </p> 

        <p class="text-center text-center__big" >
            
            Return to 
            <a class="link" 
            [routerLink]="['/sign-up']" > Sign Up </a>
        </p>           

    </div>

</div>