

<div>

    <app-header>
    </app-header>


    <div class="main-container-in container__after-header"
    *ngIf="templCase === templateCase.Company" >
     
        <div class="main-container-in">

            <h3 class="text text__big text__dark " > Fabulive Team </h3>

            <p  class="text text__normal text__dark text__italic" >
                “Create goals so strong that obstacles, failure and loss only 
                act as motivation”
            </p>

        </div>
        
        <div class="main-container-in">

            <h5 class="text text__middle text-left text__dark pad__without-bot cntr__row">  
                Contacts </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">
            Feedback:
            <br />
            support@fabulive.com
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row">
            Head Office:
            <br />
            98 Granville road, Tsim Sha Tsui East, Kowloon, Hong Kong
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row">
            Phone:
            <br />
            (852) 2723 3336
            </p>

        </div>
    
    </div>

    <div class="main-container-in container__after-header"
    *ngIf="templCase === templateCase.Terms" >

                
            <h5 class="text text__middle text-left text__dark pad__without-bot cntr__row">  
                    Fabulive App Terms of Servece
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">
Welcome to Skillshare, an online learning community to master real-world skills.
 The Skillshare website and service including (without limitation) all websites, 
 mobile applications and other interactive properties through which the service 
 is delivered (collectively, the "Service") are owned, operated and distributed 
 by SkillShare, Inc., a Delaware corporation (referred to in these Terms of Service
  as "Skillshare" or "we" and through similar words such as "us," "our," etc.). 
  By accessing any part of the Service, you are agreeing to the terms and conditions
   described below (these "Terms of Service"), the terms and conditions of our privacy
    policy (the "Privacy Policy") and any other legal notices published by us on the 
    Service (collectively, the "Governing Documents"). If you do not agree to any of 
    these terms, you should not use the Service. These Terms of Service apply to all 
    users, including both users who are simply viewing content available via the Service 
    and users who have registered as members of Skillshare.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row">               
We may, at our sole discretion, modify these Terms of Service at any time. By accessing
 the Service at any time after such modifications, you are agreeing to such modifications.
  These Terms of Service were last modified as of January 1st, 2017.
            </p>

                
            <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                   Description of Service
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
The Skillshare Service allows students to find classes that they are 
interested in taking, and allows teachers to find students interested 
in taking their classes.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row">  
We reserve the right to refuse to provide the Service to any person for 
any reason and/or to discontinue the Service in whole or in part at any 
time, with or without prior notice.
            </p>

                
            <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Copyright, Licenses and User Submissions
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
The entire contents of the Service are protected by international copyright and 
trademark laws and other proprietary rights. The owners of the copyrights and 
trademarks are Skillshare, its affiliates and/or other third party licensors. 
YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR 
DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SERVICE, INCLUDING TEXT, GRAPHICS,
 CODE AND/OR SOFTWARE. You may print and download portions of material from the 
 different areas of the Service solely for your own non-commercial use provided 
 that you agree not to change or delete any copyright or proprietary notices from 
 the materials, and not to share any material that you paid for with anyone else 
 who has not also purchased a license for that material.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You may not use any robots, spiders, or similar data mining, data gathering or 
extraction tools or manual processes to collect, gather or copy any content or 
data on or related to the Service in a manner not authorized by Skillshare in 
writing. You may not engage in practices of "screen scraping," "database scraping"
 or any other practice or activity the purpose of which is to obtain lists of users,
  portions of a database, or other lists or information from the Service, in any 
  manner and any quantities not authorized by Skillshare in writing. You may not 
  frame or utilize framing techniques to enclose any trademark, logo or other 
  proprietary information (including images, text, page layout or form) of Skillshare
   or its affiliates without express written consent. You may not use meta tags or 
   any other "hidden text" utilizing the Skillshare name or trademarks without the 
   express written consent of Skillshare.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
Content submitted by users for inclusion on the Service (including, without limitation,
 any information submitted on message boards, forums or other public areas of the Service)
  is sometimes referred to in these Terms of Service as "User Submissions." Whether or 
  not any User Submission is published, it will be subject to these Terms of Service. 
  Skillshare does not guarantee any confidentiality with respect to a User Submission,
   regardless of whether or not it is published. You are solely responsible for your 
   own User Submissions and the consequences of posting or publishing them. You 
   represent and warrant that you own or have the necessary licenses, rights, consents
    and permissions to your User Submissions (and all content included therein), 
    including the right to authorize Skillshare to use the User Submissions in the 
    manner contemplated by the Service and these Terms of Service.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You hereby grant to Skillshare a non-exclusive, royalty-free, worldwide, perpetual 
license, with the right to sub-license, to reproduce, distribute, transmit, create
 derivative works of, publicly display and publicly perform any User Submissions or 
 any other materials or information (including, without limitation, ideas for new or
  improved products or services) you communicate to Skillshare by all means and in 
  any media now known or hereafter developed. You also grant to Skillshare the right 
  to use your name in connection with the submitted materials and other information 
  as well as in connection with all advertising, marketing and promotional material 
  related thereto. You agree that you shall have no recourse against Skillshare for 
  any alleged or actual infringement or misappropriation of any proprietary right in 
  your communications to Skillshare.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
We neither endorse nor assume any liability for the contents of any User Submission. 
We generally do not pre-screen, monitor, or edit User Submissions. However, we and 
our agents have the right at their sole discretion to remove any User Submission or
 other content that, in our judgment, does not comply with these Terms of Service 
 and any other rules of user conduct for the Service, or is otherwise harmful, 
 objectionable, or inaccurate. We are not responsible for any failure or delay 
 in removing any such User Submission or other content. You hereby consent to 
 such removal and waive any claim against us arising out of such removal of any 
 User Submission, whether it is your own or another user’s. See "Copyrights, 
 Licenses and User Submissions" above for a description of the procedures to 
 be followed in the event that any party believes that a User Submission 
 infringes on any patent, trademark, trade secret, copyright, right of publicity, 
 or other proprietary right of any party.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
Skillshare will not tolerate violations of intellectual property rights on the 
Service. If you are a copyright owner and believe that any User Submission or 
other content infringes upon your copyrights, you may submit a notification 
pursuant to the Digital Millennium Copyright Act ("DMCA"). To provide Skillshare 
notice of an infringement, you must provide a written communication to the 
attention of "DMCA Infringement Notification Dept." care of help@skillshare.com
 that sets forth the information specified by the DMCA (see 
 http://www.copyright.gov/title17/92chap5.html#512). You may be liable 
 for damages (including costs and attorneys' fees) if you materially 
 misrepresent that an activity is infringing your copyright.    
            </p>

    </div>

        <app-footer>      
        </app-footer>

    </div>
